.page >section.buffet-info {
    padding: 3rem 0rem;

    h4 {
        margin-bottom: 1em;
    }

    .flex.texts {
        margin-top: 1rem;

        @media($xs) {
            display: block;
        }

        .brunch-text {
            padding-right: 1em;

            @media($xs) {
                padding: 0em 0em 1em 0em;
            }
        }
        
        .lunch-text {
            padding-left: 1em;

            @media($xs) {
                padding: 0px;
            }
        }

        >div {
            flex-grow: 1;
        }
    }
}
