.page >section.full-height-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    height: 50rem;
    
    @media($sm) {
        height: 45rem;;
    }
    
    @media($xs) {
        height: 40rem;
    }

    .container {
        h1 {
            text-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.5);
            margin-bottom: 1em;
        }

        .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
