.page >section.full-height-banner {
    position: relative;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        text-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.5);
    }

    &, a {
        color: $white;
    }

    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
