.page >section.quotes {
    padding: 3rem 0rem;
    
    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .quote {
        width: 50%;
        float: left;
        padding: 1.5rem;

        @media($xs) {
            width: 100%;
            float: none;
        }

        .quote-name {
            text-align: right;
        }
    }
}
