.page >section.tabbed-iframes {
    padding: 3rem 0rem;

    .tabbed-content {
        .tab-buttons {
            margin-bottom: -2px;
            margin-left: 2rem;

            @media($xs) {
                margin-left: 0px;
            }

            &:after {
                content: '';
                display: block;
                clear: both;
            }

            button {
                background-color: $darkest-grey;
                color: $white;
                padding: 0rem 2rem;
                border-top: 2px solid $darkest-grey;
                border-left: 2px solid $darkest-grey;
                border-right: 2px solid $darkest-grey;
                display: block;
                float: left;
                line-height: 3rem;
                height: 3rem;

                @media($xs) {
                    width: 50%;
                    line-height: 1em;
                }
            }
        }

        .tab-panes {
            border: 2px solid $darkest-grey;
            background-color: $white;
            height: 85rem;

            @media($xs) {
                height: 95rem;
            }

            iframe {
                display: none;
                width: 100%;
                height: 100%;
                overflow: none;
            }
        }

        @for $i from 1 through 10 {
            &[data-active-tab="#{$i}"] {
                .tab-buttons {
                    button {
                        &:nth-of-type(#{$i}) {
                            background-color: $white;
                            color: $darkest-grey;
                        }
                    }
                }        

                .tab-panes {
                    iframe {
                        &:nth-of-type(#{$i}) {
                            display: block;
                        }
                    }
                }      
            }
        }
    }
}
