.page >section.text-blocks {
    .text-block {
        display: flex;
        
        @media($sm) {
            flex-direction: column;
        }

        .text, .image {
            flex-grow: 1;
            width: 50%;

            @media($sm) {
                width: 100%;
            }
        }

        .image {
            img {
                width: calc(100% - 8em);
                margin: 2em auto;
                display: block;
            }
        }
    }
}
