section.supported-organisations {
    .container {
        display: flex;
        flex-wrap: wrap;
        
        .org {
            padding: 1em;
            flex-shrink: 0;
            text-align: center;
            float: left;
            width: 25%;

            @media($sm) {
                width: 50%;
            }
        }
    }
}
