<section class="buffet-info">
    <div class="container">
        {% if include.section.heading %}
            <h2 id="{{ include.section.heading | handleize | downcase }}">{{ include.section.heading }}</h2>
        {% endif %}

        {% if include.section.subheading %}
            <h4>{{ include.section.subheading }}</h4>
        {% endif %}

        {{ include.section.body | markdownify }}

        <div class="flex images">
            {% for image_id in include.section.images %}
                <div class="image-container">
                    <div class="image" style="background-image: url('{% include hashbrown/get_media_by_id id=image_id %}');"></div>
                </div>
            {% endfor %}
        </div>

        <div class="flex texts">
            <div class="brunch-text">
                {{ include.section.brunchText | markdownify }}
            </div>
            <div class="lunch-text">
                {{ include.section.lunchText | markdownify }}
            </div>
        </div>
    </div>
</section>
