<section class="full-height-banner {{ include.section.theme }}" style="background-image: url('{% include endomon/get_media_by_id id=include.section.backgroundImage %}');">
    <div class="container">
        {% if include.section.text %}
            {{ include.section.text | markdownify }}
        {% endif %}

        {% if include.section.button.text %}
            <a class="btn" href="{{ include.section.button.href }}" target="{{ include.section.button.target }}"><span>{{ include.section.button.text }}</span></a>
        {% endif %}
    </div>
</section>
