<section class="supported-organisations">
    <div class="container">
        {% for org in include.section.organisations.items %}
            <div class="org">
                <img src="{% include hashbrown/get_media_by_id id=org.image %}" />
                <h4 class="org-title">{{ org.title }}</h4>
                <p class="org-period">{{ org.period }}</p>
                <p class="org-amount">{{ org.amount }}</p>
                
                {% if org.comment %}
                    <p class="org-comment">{{ org.comment }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
