<section class="text-blocks">
    <div class="container">
        {% if include.section.heading %}
            <h2>{{ include.section.heading }}</h2>
        {% endif %}

        {% for text_block in include.section.textBlocks.items %}
            <div class="text-block">
                {% if text_block.text %}
                    <div class="text">{{ text_block.text | markdownify }}</div>
                {% endif %}
                {% if text_block.image %}
                    <div class="image"><img src="{% include hashbrown/get_media_by_id id=text_block.image %}" /></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
