<footer>
    <div class="info">
        <div class="container">
            <div class="map">
                <iframe></iframe>
            </div>
            <div class="text">
                <p class="name">Café Sweet Surrender</p>
                <p class="address"><span class="fa fa-map-marker"></span>Dybbølsgade 49<br />1721 København V</p>
                <p class="telephone"><span class="fa fa-phone"></span><a href="tel:+4521970749">+45 21 97 07 49</a></p>
                <div class="opening-hours">
                    <span class="fa fa-clock-o"></span>
                    <table>
                        <tr>
                            <td class="label">Monday</td>
                            <td class="hours">Closed</td>
                        </tr>
                        <tr>
                            <td class="label">Tuesday - Friday</td>
                            <td class="hours">10 - 20</td>
                        </tr>
                        <tr>
                            <td class="label">Saturday & holidays</td>
                            <td class="hours">10 - 16</td>
                        </tr>
                        <tr>
                            <td class="label">Sunday</td>
                            <td class="hours">Closed</td>
                        </tr>
                    </table>
                </div>
                <div class="social-links">
                    <span class="fa fa-share-alt"></span>
                    <a href="http://www.facebook.com/sweetsurrenderdk">
                        <span class="fa fa-facebook-square"></span>
                    </a>
                    <a href="https://twitter.com/CafeCph">
                        <span class="fa fa-twitter-square"></span>
                    </a>
                    <a href="https://www.instagram.com/cafesweetsurrender/">
                        <span class="fa fa-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <img class="copyright-logo" src="/public/img/logo.png" alt="Sweet Surrender logo" />
            <p>Copyright 2013-2016 Café Sweet Surrender</p>
            <a href="http://www.findsmiley.dk/da-DK/Searching/DetailsView.htm?virk=521348" target="_blank">See smiley inspection reports from Fødevarestyrelsen</a>
        </div>
    </div>
</footer>
