<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Café Sweet Surrender - {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="shortcut icon" href="/public/img/favicon.png"/>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/client.css">
    <link rel="canonical" href="http://sweetsurrender.dk{{ page.url }}">
</head>
