{% if page.meta.language == 'da' %}
    {% assign home_url = '/da/hjem/' %}
    {% assign opposite_language = 'en' %}
    {% assign easter_closed = 'Sommerlukket fra 7. juli til 4. august' %}
{% else %}
    {% assign home_url = '/en/home/' %}
    {% assign opposite_language = 'da' %}
    {% assign easter_closed = 'Closed from July 7th to August 4th' %}
{% endif %}

{% for p in site.pages %}
    {% if p.meta.language == opposite_language and p.meta.id == page.meta.id %}
        {% assign opposite_page_url = p.url %}

    {% elsif p.meta.id == '75fb3bd6e8d858ca23300c720820d60467289a46' and p.meta.language == page.meta.language %}
        {% assign about_page_url = p.url %}

    {% endif %}
{% endfor %}

<nav>
    <div class="container">
        <a class="nav-brand" href="{{ home_url }}">
            <img src="/public/img/logo.png" alt="Sweet Surrender logo" />
        </a>
       
        <div class="pages-container">
            <div class="pages">
                {% include hashbrown/get_all_pages %}
                {% assign pages = result | sort: "navOrder" %}

                {% for p in pages %}
                    {% if p.showInNav %}
                        <a href="{{ p.url }}">{{ p.title }}</a>
                    {% endif %}
                {% endfor %} 
            </div>
        </div>

        <div class="widgets">
            <div class="widgets-position-wrapper">
                <a href="{{ opposite_page_url }}" style="background-image: url('/public/img/{{ opposite_language }}.jpg')"></a>
                <a href="{{ about_page_url }}#tabbed-iframes">
                    <img src="/public/img/icon-volunteer.png" alt="Volunteer" />
                </a>
                <button class="btn-toggle-calendar" onclick="toggleWidget('calendar')">
                    <span class="fa fa-calendar"></span>
                    <div class="icon-calendar-new-events"></div>
                </button>
                <button class="btn-toggle-menu" onclick="toggleWidget('menu');">
                    <span class="fa fa-bars"></span>
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="calendar-container">
    <div class="calendar-events">
        <div class="calendar-event" data-id="">
            <div class="calendar-event-header">
                <img class="cover" />
            </div>
            <div class="calendar-event-body">
                <p class="name">Event name</p>
                <p class="description">Description</p>
                <a target="_blank" href="https://www.facebook.com/events/" class="fb-link"><span class="fa fa-facebook-square"></span>View event</a>
                <p class="date">2016.01.01</p>
                <p class="hours">12:00 - 14:00</p>
            </div>
        </div>
    </div> 
</div>
<div style="position: fixed; width: 100%; background-color: #FFF; z-index: 50; background-color: yellow; font-size: large; font-weight: bold; text-align: center;">{{ easter_closed }}</div>
<button class="backdrop" onclick="closeWidgets();"></button>
