[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  border-radius: 0px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, button:hover, button:focus, button:active {
  outline: 0; }

a, a:hover, a:focus, a:active {
  color: inherit; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 5rem; }
  @media (max-width: 991px) {
    body {
      padding-top: 4rem; } }
  @media (max-width: 767px) {
    body {
      padding-top: 3rem; } }
  body .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }
    @media (max-width: 1199px) {
      body .container {
        width: 960px; } }
    @media (max-width: 991px) {
      body .container {
        width: 600px; } }
    @media (max-width: 767px) {
      body .container {
        width: calc(100% - 2em); } }
  body .flex {
    display: flex; }
  body .page {
    height: 100%; }
    body .page section .section-anchor {
      height: 0px;
      display: block;
      position: relative;
      top: -5rem; }

@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/gochi-hand-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Gochi Hand"), local("GochiHand-Regular"), url("/public/fonts/gochi-hand-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/gochi-hand-v7-latin-regular.woff2") format("woff2"), url("/public/fonts/gochi-hand-v7-latin-regular.woff") format("woff"), url("/public/fonts/gochi-hand-v7-latin-regular.ttf") format("truetype"), url("/public/fonts/gochi-hand-v7-latin-regular.svg#GochiHand") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/ubuntu-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu"), url("/public/fonts/ubuntu-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ubuntu-v9-latin-regular.woff2") format("woff2"), url("/public/fonts/ubuntu-v9-latin-regular.woff") format("woff"), url("/public/fonts/ubuntu-v9-latin-regular.ttf") format("truetype"), url("/public/fonts/ubuntu-v9-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/ubuntu-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("/public/fonts/ubuntu-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ubuntu-v9-latin-700.woff2") format("woff2"), url("/public/fonts/ubuntu-v9-latin-700.woff") format("woff"), url("/public/fonts/ubuntu-v9-latin-700.ttf") format("truetype"), url("/public/fonts/ubuntu-v9-latin-700.svg#Ubuntu") format("svg");
  /* Legacy iOS */ }

body, body input, body select, body option, body textarea {
  font-family: 'Ubuntu', sans-serif; }

body * {
  font-size: 0.88rem;
  line-height: 1.5em; }
  @media (max-width: 767px) {
    body * {
      font-size: 0.88rem; } }

body h1, body h2, body h3, body h4 {
  font-family: 'Gochi Hand', sans-serif; }

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
  line-height: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.2em; }

body h1 {
  font-size: 4rem; }
  @media (max-width: 767px) {
    body h1 {
      font-size: 3rem; } }

body h2 {
  font-size: 3rem; }
  @media (max-width: 767px) {
    body h2 {
      font-size: 2rem; } }

body h3 {
  font-size: 2rem; }
  @media (max-width: 767px) {
    body h3 {
      font-size: 1.5rem; } }

body h4 {
  font-size: 1.5rem; }
  @media (max-width: 767px) {
    body h4 {
      font-size: 1rem; } }

body h5 {
  font-size: 1rem; }
  @media (max-width: 767px) {
    body h5 {
      font-size: 0.88rem; } }

body h6 {
  font-size: 1rem; }
  @media (max-width: 767px) {
    body h6 {
      font-size: 0.88rem; } }

body strong {
  font-weight: 700; }

nav {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  z-index: 50;
  top: 0px;
  left: 0px;
  box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 991px) {
    nav {
      height: 4rem; } }
  @media (max-width: 767px) {
    nav {
      height: 3rem; } }
  nav .container {
    height: 100%;
    display: flex; }
    nav .container .pages-container {
      height: 100%;
      position: relative; }
      @media (max-width: 767px) {
        nav .container .pages-container {
          top: 3rem;
          height: calc(100% - 3rem);
          width: 100%;
          position: fixed;
          right: 0rem;
          transform: translateX(100%);
          z-index: 40;
          overflow-x: hidden;
          transition: transform 0.5s ease;
          background-color: #1a1a1a;
          color: #fff;
          max-width: 20rem; } }
      nav .container .pages-container .pages {
        display: flex; }
        @media (max-width: 767px) {
          nav .container .pages-container .pages {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            margin-left: auto;
            text-align: center;
            flex-direction: column; } }
        nav .container .pages-container .pages a {
          padding: 0em 1em; }
          @media (max-width: 767px) {
            nav .container .pages-container .pages a {
              font-family: 'Gochi Hand', sans-serif;
              font-size: 2rem; } }
    nav .container .nav-brand, nav .container .pages a {
      display: block;
      text-decoration: none;
      height: 100%;
      line-height: 5rem; }
      @media (max-width: 991px) {
        nav .container .nav-brand, nav .container .pages a {
          line-height: 4rem; } }
      @media (max-width: 767px) {
        nav .container .nav-brand, nav .container .pages a {
          line-height: 3rem; } }
      nav .container .nav-brand.nav-brand, nav .container .pages a.nav-brand {
        flex-grow: 1; }
        nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
          margin-top: 0.5rem;
          height: 4rem; }
          @media (max-width: 991px) {
            nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
              height: 3rem; } }
          @media (max-width: 767px) {
            nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
              height: 2rem; } }
    nav .container .widgets {
      flex-grow: 1;
      height: 100%; }
      nav .container .widgets .widgets-position-wrapper {
        float: right;
        display: flex;
        height: 100%; }
        nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
          display: block;
          margin-top: 1rem;
          height: 3rem;
          width: 3rem;
          position: relative; }
          @media (max-width: 991px) {
            nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
              margin-top: 0.5rem; } }
          @media (max-width: 767px) {
            nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
              height: 2rem;
              width: 2rem; } }
          nav .container .widgets .widgets-position-wrapper a .fa, nav .container .widgets .widgets-position-wrapper a img, nav .container .widgets .widgets-position-wrapper button .fa, nav .container .widgets .widgets-position-wrapper button img {
            height: 3rem;
            width: 3rem;
            display: block;
            line-height: 3rem;
            font-size: 1.5rem; }
            @media (max-width: 767px) {
              nav .container .widgets .widgets-position-wrapper a .fa, nav .container .widgets .widgets-position-wrapper a img, nav .container .widgets .widgets-position-wrapper button .fa, nav .container .widgets .widgets-position-wrapper button img {
                line-height: 2rem;
                height: 2rem;
                width: 2rem;
                font-size: 1rem; } }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu, nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar {
          border-radius: 50%;
          background-color: #fde9f1; }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
          display: none; }
          @media (max-width: 767px) {
            nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
              display: block; } }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar {
          position: relative;
          margin-left: 1rem; }
          nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar .icon-calendar-new-events {
            position: absolute;
            top: 0rem;
            right: 0rem;
            background-color: #ff0000;
            color: #fff;
            font-size: 0.6rem;
            border-radius: 50%;
            padding: 0.2rem;
            width: 1.2rem;
            height: 1.2rem; }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
          margin-left: 1rem; }

.calendar-container {
  position: fixed;
  top: 5rem;
  right: 0rem;
  transform: translateX(100%);
  height: calc(100% - 5rem);
  z-index: 40;
  overflow-x: hidden;
  width: 30rem;
  transition: transform 0.5s ease; }
  @media (max-width: 991px) {
    .calendar-container {
      top: 4rem;
      height: calc(100% - 4rem); } }
  @media (max-width: 767px) {
    .calendar-container {
      top: 3rem;
      height: calc(100% - 3rem);
      width: 100%;
      max-width: 30rem; } }
  .calendar-container .calendar-events {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5); }
    .calendar-container .calendar-events .calendar-event .calendar-event-header .cover {
      max-width: 100%; }
    .calendar-container .calendar-events .calendar-event .calendar-event-body {
      position: relative;
      color: #fff;
      padding: 2rem; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .name {
        margin-bottom: 1rem;
        font-weight: bold; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .description {
        margin-bottom: 2rem; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .fb-link {
        background-color: #3c5a99;
        line-height: 2rem;
        display: block;
        padding: 0rem 0.5rem;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        text-decoration: none; }
        .calendar-container .calendar-events .calendar-event .calendar-event-body .fb-link .fa {
          margin-right: 0.5rem; }

.backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

body[data-active-widget="calendar"] .backdrop {
  display: block; }

body[data-active-widget="calendar"] .calendar-container {
  overflow-x: visible;
  transform: translateX(0%); }

body[data-active-widget="menu"] .backdrop {
  display: block; }

body[data-active-widget="menu"] .pages-container {
  overflow-x: visible;
  transform: translateX(0%); }

body:before {
  opacity: 0.5;
  position: fixed;
  top: 6rem;
  right: -9rem;
  font-weight: bold;
  pointer-events: none;
  display: block;
  content: 'THIS SITE IS UNDER CONSTRUCTION';
  z-index: 999;
  transform: rotate(45deg);
  padding: 1rem 10rem;
  background-color: #ffe000;
  border: 0.2rem solid #000;
  background-image: repeating-linear-gradient(45deg, #ffe000, #ffe000 10px, #f9d10b 10px, #f9d10b 20px); }
  @media (max-width: 767px) {
    body:before {
      padding: 1rem 9rem; } }

.page > section.full-height-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: calc(100vh - 5rem); }
  @media (max-width: 991px) {
    .page > section.full-height-banner {
      height: calc(100vh - 4rem); } }
  @media (max-width: 767px) {
    .page > section.full-height-banner {
      height: calc(100vh - 3rem); } }
  .page > section.full-height-banner .container h1 {
    text-shadow: 0em 0em 0.1em rgba(0, 0, 0, 0.5); }
  .page > section.full-height-banner .container .btn {
    margin-left: auto;
    margin-right: auto; }

.page > section.rich-text-section {
  padding: 8em 0em; }

.page > section.text-blocks .text-block {
  display: flex; }
  .page > section.text-blocks .text-block .text, .page > section.text-blocks .text-block .image {
    flex-grow: 1;
    width: 50%; }
  .page > section.text-blocks .text-block .image img {
    width: calc(100% - 8em);
    margin: 2em auto;
    display: block; }

.page > section.volunteer-signup {
  padding: 3em 0em; }
  .page > section.volunteer-signup form input:not([type="submit"]), .page > section.volunteer-signup form textarea, .page > section.volunteer-signup form select {
    line-height: 2em;
    height: 2em;
    display: block;
    padding: 0em 0.5em;
    margin-bottom: 1rem;
    width: 100%; }
  .page > section.volunteer-signup form label {
    display: block; }
  .page > section.volunteer-signup form textarea {
    resize: none;
    height: 8rem;
    width: 100%; }
  .page > section.volunteer-signup form .fields {
    max-width: 32rem;
    margin: 4em auto; }
    .page > section.volunteer-signup form .fields .flex > div {
      flex-grow: 1; }
      .page > section.volunteer-signup form .fields .flex > div:first-child {
        margin-right: 0.5rem; }
      .page > section.volunteer-signup form .fields .flex > div:last-child {
        margin-left: 0.5rem; }
  .page > section.volunteer-signup form .btn {
    margin-left: auto; }

.page > section.quotes {
  padding: 3rem 0rem; }
  .page > section.quotes:after {
    content: '';
    display: block;
    clear: both; }
  .page > section.quotes .quote {
    width: 50%;
    float: left;
    padding: 1.5rem; }
    .page > section.quotes .quote .quote-name {
      text-align: right; }

.page > section.tabbed-iframes {
  padding: 3rem 0rem; }
  .page > section.tabbed-iframes .tabbed-content .tab-buttons {
    margin-bottom: -2px;
    margin-left: 2rem; }
    @media (max-width: 767px) {
      .page > section.tabbed-iframes .tabbed-content .tab-buttons {
        margin-left: 0px; } }
    .page > section.tabbed-iframes .tabbed-content .tab-buttons:after {
      content: '';
      display: block;
      clear: both; }
    .page > section.tabbed-iframes .tabbed-content .tab-buttons button {
      background-color: #1a1a1a;
      color: #fff;
      padding: 0rem 2rem;
      border-top: 2px solid #1a1a1a;
      border-left: 2px solid #1a1a1a;
      border-right: 2px solid #1a1a1a;
      display: block;
      float: left;
      line-height: 3rem;
      height: 3rem; }
      @media (max-width: 767px) {
        .page > section.tabbed-iframes .tabbed-content .tab-buttons button {
          width: 50%;
          line-height: 1em; } }
  .page > section.tabbed-iframes .tabbed-content .tab-panes {
    border: 2px solid #1a1a1a;
    background-color: #fff;
    height: 85rem; }
    @media (max-width: 767px) {
      .page > section.tabbed-iframes .tabbed-content .tab-panes {
        height: 95rem; } }
    .page > section.tabbed-iframes .tabbed-content .tab-panes iframe {
      display: none;
      width: 100%;
      height: 100%;
      overflow: none; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="1"] .tab-buttons button:nth-of-type(1) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="1"] .tab-panes iframe:nth-of-type(1) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="2"] .tab-buttons button:nth-of-type(2) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="2"] .tab-panes iframe:nth-of-type(2) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="3"] .tab-buttons button:nth-of-type(3) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="3"] .tab-panes iframe:nth-of-type(3) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="4"] .tab-buttons button:nth-of-type(4) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="4"] .tab-panes iframe:nth-of-type(4) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="5"] .tab-buttons button:nth-of-type(5) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="5"] .tab-panes iframe:nth-of-type(5) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="6"] .tab-buttons button:nth-of-type(6) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="6"] .tab-panes iframe:nth-of-type(6) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="7"] .tab-buttons button:nth-of-type(7) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="7"] .tab-panes iframe:nth-of-type(7) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="8"] .tab-buttons button:nth-of-type(8) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="8"] .tab-panes iframe:nth-of-type(8) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="9"] .tab-buttons button:nth-of-type(9) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="9"] .tab-panes iframe:nth-of-type(9) {
    display: block; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="10"] .tab-buttons button:nth-of-type(10) {
    background-color: #fff;
    color: #1a1a1a; }
  .page > section.tabbed-iframes .tabbed-content[data-active-tab="10"] .tab-panes iframe:nth-of-type(10) {
    display: block; }

.page > section.buffet-info {
  padding: 3rem 0rem; }
  .page > section.buffet-info h4 {
    margin-bottom: 1em; }
  .page > section.buffet-info .flex.images .image-container {
    flex-grow: 1;
    position: relative;
    margin: 0rem 1rem;
    height: 15rem; }
    .page > section.buffet-info .flex.images .image-container:first-child {
      margin-left: 0px; }
    .page > section.buffet-info .flex.images .image-container:last-child {
      margin-right: 0px; }
    .page > section.buffet-info .flex.images .image-container .image {
      background-position: center;
      background-size: cover;
      height: 100%; }
  .page > section.buffet-info .flex.texts {
    margin-top: 1rem; }
    .page > section.buffet-info .flex.texts > div {
      flex-grow: 1; }

.page section .btn {
  padding: 1rem 0rem;
  text-align: center;
  box-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.5);
  background-color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 10rem;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .page section .btn:before {
    content: '';
    position: absolute;
    background-color: #fde9f1;
    width: 1rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%; }
  .page section .btn:hover:before, .page section .btn:focus:before {
    transform: translate(-50%, -50%) scale(10); }
  .page section .btn:active {
    margin-bottom: -0.1rem;
    box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.5); }
  .page section .btn, .page section .btn:hover, .page section .btn:focus {
    color: #1a1a1a; }
  .page section .btn.dark {
    color: #fff;
    background-color: #1a1a1a; }
  .page section .btn span {
    position: relative;
    z-index: 10; }

footer .info {
  padding: 2rem 0rem;
  background-color: #1a1a1a;
  color: #fff; }
  footer .info .container {
    display: flex; }
    @media (max-width: 767px) {
      footer .info .container {
        flex-direction: column; } }
    footer .info .container .text, footer .info .container .map {
      width: 50%;
      padding: 2rem; }
      footer .info .container .text a, footer .info .container .map a {
        text-decoration: none; }
      @media (max-width: 767px) {
        footer .info .container .text, footer .info .container .map {
          width: 100%;
          padding: 1rem; } }
    footer .info .container .fa {
      color: #666; }
    footer .info .container .text > p, footer .info .container .text > div {
      padding-left: 3rem;
      margin-bottom: 1rem;
      position: relative; }
      footer .info .container .text > p:last-child, footer .info .container .text > div:last-child {
        margin-bottom: 0rem; }
      @media (max-width: 767px) {
        footer .info .container .text > p, footer .info .container .text > div {
          margin-left: auto;
          margin-right: auto;
          max-width: 20rem; } }
      footer .info .container .text > p > table, footer .info .container .text > div > table {
        width: 15rem; }
        @media (max-width: 767px) {
          footer .info .container .text > p > table, footer .info .container .text > div > table {
            width: 100%;
            max-width: 15rem; } }
        footer .info .container .text > p > table tr td:first-child, footer .info .container .text > div > table tr td:first-child {
          text-align: left; }
      footer .info .container .text > p > .fa, footer .info .container .text > div > .fa {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 1.5rem; }
      footer .info .container .text > p.social-links a, footer .info .container .text > div.social-links a {
        margin-right: 1rem; }
        footer .info .container .text > p.social-links a .fa, footer .info .container .text > div.social-links a .fa {
          font-size: 2rem;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          border-radius: 0.4rem; }
          footer .info .container .text > p.social-links a .fa.fa-facebook-square, footer .info .container .text > div.social-links a .fa.fa-facebook-square {
            background-color: #3c5a99;
            font-size: 1.5rem;
            color: #fff; }
          footer .info .container .text > p.social-links a .fa.fa-twitter-square, footer .info .container .text > div.social-links a .fa.fa-twitter-square {
            background-color: #55acee;
            font-size: 1.5rem;
            color: #fff; }
          footer .info .container .text > p.social-links a .fa.fa-instagram, footer .info .container .text > div.social-links a .fa.fa-instagram {
            background-image: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
            color: #fff;
            font-size: 1.5rem; }
    footer .info .container .map iframe {
      width: 18rem;
      height: 18rem;
      background-color: #fff;
      margin-left: auto;
      display: block; }
      @media (max-width: 991px) {
        footer .info .container .map iframe {
          width: 100%;
          height: 100%; } }

footer .copyright {
  text-align: center;
  padding: 2rem 0rem; }
  footer .copyright img {
    height: 4rem;
    margin-bottom: 1rem; }
  footer .copyright p, footer .copyright a {
    font-size: 0.8rem; }

@media (max-width: 991px) {
  body[data-active-widget="menu-nav"] .page.menu-page .menu-nav {
    right: 0rem; } }

body[data-active-widget="menu-nav"] .page.menu-page .menu-nav .menu-nav-toggle {
  right: 0px; }

body[data-active-widget="menu-nav"] .backdrop {
  display: block; }

body .page.menu-page {
  height: auto;
  background-color: #1a1a1a; }
  body .page.menu-page .menu-nav {
    position: fixed;
    z-index: 50;
    width: 20rem;
    top: 5rem;
    height: calc(100% - 5rem);
    background-color: #1a1a1a; }
    @media (max-width: 991px) {
      body .page.menu-page .menu-nav {
        transition: right 0.5s ease;
        top: 4rem;
        height: calc(100% - 4rem);
        right: -20rem;
        box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5); } }
    @media (max-width: 767px) {
      body .page.menu-page .menu-nav {
        top: 3rem;
        height: calc(100% - 3rem); } }
    body .page.menu-page .menu-nav .menu-nav-toggle {
      position: absolute;
      right: 100%;
      bottom: 0px;
      width: 3rem;
      text-align: center;
      line-height: 3rem;
      display: none;
      z-index: 100;
      background-color: #fde9f1;
      color: #1a1a1a;
      transition: right 0.5s ease; }
      @media (max-width: 991px) {
        body .page.menu-page .menu-nav .menu-nav-toggle {
          display: block; } }
    body .page.menu-page .menu-nav .menu-items {
      height: 100%;
      overflow-y: auto; }
      @media (max-width: 767px) {
        body .page.menu-page .menu-nav .menu-items {
          padding-right: 3rem; } }
      body .page.menu-page .menu-nav .menu-items .menu-item {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem 1rem;
        color: #fff; }
        body .page.menu-page .menu-nav .menu-items .menu-item:hover {
          background-color: #333; }
        body .page.menu-page .menu-nav .menu-items .menu-item .price {
          float: right; }
  body .page.menu-page .menu-gallery {
    border: 1px solid transparent;
    width: calc(100% - 20rem);
    margin-left: auto; }
    @media (max-width: 991px) {
      body .page.menu-page .menu-gallery {
        width: 100%;
        margin: 0px; } }
    body .page.menu-page .menu-gallery .grid-sizer {
      width: 25%; }
      @media (max-width: 991px) {
        body .page.menu-page .menu-gallery .grid-sizer {
          width: 50%; } }
    body .page.menu-page .menu-gallery .menu-item {
      position: relative;
      overflow: hidden;
      border: 1px solid transparent;
      display: block;
      text-decoration: none; }
      body .page.menu-page .menu-gallery .menu-item:after {
        content: '';
        display: block;
        padding-top: 100%; }
      body .page.menu-page .menu-gallery .menu-item:focus, body .page.menu-page .menu-gallery .menu-item:hover {
        border-color: #fff; }
        body .page.menu-page .menu-gallery .menu-item:focus .info .details, body .page.menu-page .menu-gallery .menu-item:hover .info .details {
          height: auto;
          opacity: 1;
          padding: 1em; }
      body .page.menu-page .menu-gallery .menu-item .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%; }
      body .page.menu-page .menu-gallery .menu-item .info {
        color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: opacity 0.5s ease;
        z-index: 10; }
        body .page.menu-page .menu-gallery .menu-item .info .title {
          padding: 0.5em;
          font-family: 'Gochi Hand';
          font-size: 2em;
          line-height: 1em; }
          @media (max-width: 767px) {
            body .page.menu-page .menu-gallery .menu-item .info .title {
              font-size: 1.2em; } }
        body .page.menu-page .menu-gallery .menu-item .info .details {
          opacity: 0;
          height: 0px;
          overflow-y: hidden;
          transition: opacity 0.5s ease;
          position: absolute;
          bottom: 0em;
          right: 0em;
          width: 100%;
          padding: 0em;
          background-color: rgba(255, 255, 255, 0.5);
          color: #333; }
          body .page.menu-page .menu-gallery .menu-item .info .details .description {
            font-size: 1rem; }
          body .page.menu-page .menu-gallery .menu-item .info .details .price {
            text-align: right;
            font-family: 'Gochi Hand';
            font-size: 2em; }
            @media (max-width: 767px) {
              body .page.menu-page .menu-gallery .menu-item .info .details .price {
                font-size: 1.2em; } }
      body .page.menu-page .menu-gallery .menu-item[data-size="0"] {
        width: 100%; }
      body .page.menu-page .menu-gallery .menu-item[data-size="1"] {
        width: 25%; }
        @media (max-width: 991px) {
          body .page.menu-page .menu-gallery .menu-item[data-size="1"] {
            width: 50%; } }
      body .page.menu-page .menu-gallery .menu-item[data-size="2"] {
        width: 50%; }
        @media (max-width: 991px) {
          body .page.menu-page .menu-gallery .menu-item[data-size="2"] {
            width: 100%; } }

.page > section._404 {
  height: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
