[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  border-radius: 0px;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

[role="button"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, button:hover, button:focus, button:active {
  outline: 0; }

a, a:hover, a:focus, a:active {
  color: inherit; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 3em; }
  body .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px; }
    @media (max-width: 1199px) {
      body .container {
        width: 960px; } }
    @media (max-width: 991px) {
      body .container {
        width: 600px; } }
    @media (max-width: 767px) {
      body .container {
        width: calc(100% - 2em); } }
  body .page {
    height: 100%; }

@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/gochi-hand-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Gochi Hand"), local("GochiHand-Regular"), url("/public/fonts/gochi-hand-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/gochi-hand-v7-latin-regular.woff2") format("woff2"), url("/public/fonts/gochi-hand-v7-latin-regular.woff") format("woff"), url("/public/fonts/gochi-hand-v7-latin-regular.ttf") format("truetype"), url("/public/fonts/gochi-hand-v7-latin-regular.svg#GochiHand") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/public/fonts/ubuntu-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu"), url("/public/fonts/ubuntu-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ubuntu-v9-latin-regular.woff2") format("woff2"), url("/public/fonts/ubuntu-v9-latin-regular.woff") format("woff"), url("/public/fonts/ubuntu-v9-latin-regular.ttf") format("truetype"), url("/public/fonts/ubuntu-v9-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fonts/ubuntu-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("/public/fonts/ubuntu-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ubuntu-v9-latin-700.woff2") format("woff2"), url("/public/fonts/ubuntu-v9-latin-700.woff") format("woff"), url("/public/fonts/ubuntu-v9-latin-700.ttf") format("truetype"), url("/public/fonts/ubuntu-v9-latin-700.svg#Ubuntu") format("svg");
  /* Legacy iOS */ }

body {
  font-family: 'Ubuntu', sans-serif; }
  body * {
    font-size: 0.88rem;
    line-height: 1.5em; }
    @media (max-width: 767px) {
      body * {
        font-size: 0.88rem; } }
  body h1, body h2, body h3, body h4 {
    font-family: 'Gochi Hand', sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 0.4em; }
  body h1 {
    font-size: 4rem; }
    @media (max-width: 767px) {
      body h1 {
        font-size: 3rem; } }
  body h2 {
    font-size: 3rem; }
    @media (max-width: 767px) {
      body h2 {
        font-size: 2rem; } }
  body h3 {
    font-size: 2rem; }
    @media (max-width: 767px) {
      body h3 {
        font-size: 1.5rem; } }
  body h4 {
    font-size: 1.5rem; }
    @media (max-width: 767px) {
      body h4 {
        font-size: 1rem; } }
  body h5 {
    font-size: 1rem; }
    @media (max-width: 767px) {
      body h5 {
        font-size: 0.88rem; } }
  body h6 {
    font-size: 1rem; }
    @media (max-width: 767px) {
      body h6 {
        font-size: 0.88rem; } }
  body strong {
    font-weight: 700; }

nav {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  z-index: 50;
  top: 0px;
  left: 0px;
  box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 991px) {
    nav {
      height: 4rem; } }
  @media (max-width: 767px) {
    nav {
      height: 3rem; } }
  nav .container {
    height: 100%;
    display: flex; }
    nav .container .pages-container {
      height: 100%;
      position: relative; }
      @media (max-width: 767px) {
        nav .container .pages-container {
          top: 3rem;
          height: calc(100% - 3rem);
          width: 100%;
          position: fixed;
          right: 0rem;
          transform: translateX(100%);
          z-index: 40;
          overflow-x: hidden;
          transition: transform 0.5s ease;
          background-color: #1a1a1a;
          color: #fff;
          max-width: 20rem; } }
      nav .container .pages-container .pages {
        display: flex; }
        @media (max-width: 767px) {
          nav .container .pages-container .pages {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            margin-left: auto;
            text-align: center;
            flex-direction: column; } }
    nav .container .nav-brand, nav .container .pages a {
      display: block;
      text-decoration: none;
      height: 100%;
      line-height: 5rem; }
      @media (max-width: 991px) {
        nav .container .nav-brand, nav .container .pages a {
          line-height: 4rem; } }
      @media (max-width: 767px) {
        nav .container .nav-brand, nav .container .pages a {
          line-height: 3rem; } }
      nav .container .nav-brand.nav-brand, nav .container .pages a.nav-brand {
        flex-grow: 1; }
        nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
          margin-top: 0.5rem;
          height: 4rem; }
          @media (max-width: 991px) {
            nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
              height: 3rem; } }
          @media (max-width: 767px) {
            nav .container .nav-brand.nav-brand img, nav .container .pages a.nav-brand img {
              height: 2rem; } }
    nav .container .widgets {
      flex-grow: 1;
      height: 100%; }
      nav .container .widgets .widgets-position-wrapper {
        float: right;
        display: flex;
        height: 100%; }
        nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
          display: block;
          margin-top: 1rem;
          height: 3rem;
          width: 3rem;
          position: relative; }
          @media (max-width: 991px) {
            nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
              margin-top: 0.5rem; } }
          @media (max-width: 767px) {
            nav .container .widgets .widgets-position-wrapper a, nav .container .widgets .widgets-position-wrapper button {
              height: 2rem;
              width: 2rem; } }
          nav .container .widgets .widgets-position-wrapper a .fa, nav .container .widgets .widgets-position-wrapper a img, nav .container .widgets .widgets-position-wrapper button .fa, nav .container .widgets .widgets-position-wrapper button img {
            height: 3rem;
            width: 3rem;
            display: block;
            line-height: 3rem;
            font-size: 1.5rem; }
            @media (max-width: 767px) {
              nav .container .widgets .widgets-position-wrapper a .fa, nav .container .widgets .widgets-position-wrapper a img, nav .container .widgets .widgets-position-wrapper button .fa, nav .container .widgets .widgets-position-wrapper button img {
                line-height: 2rem;
                height: 2rem;
                width: 2rem;
                font-size: 1rem; } }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu, nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar {
          border-radius: 50%;
          background-color: #fde9f1; }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
          display: none; }
          @media (max-width: 767px) {
            nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
              display: block; } }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar {
          position: relative;
          margin-left: 1rem; }
          nav .container .widgets .widgets-position-wrapper .btn-toggle-calendar .icon-calendar-new-events {
            position: absolute;
            top: 0rem;
            right: 0rem;
            background-color: #ff0000;
            color: #fff;
            font-size: 0.6rem;
            border-radius: 50%;
            padding: 0.2rem;
            width: 1.2rem;
            height: 1.2rem; }
        nav .container .widgets .widgets-position-wrapper .btn-toggle-menu {
          margin-left: 1rem; }

.calendar-container {
  position: fixed;
  top: 5rem;
  right: 0rem;
  transform: translateX(100%);
  height: calc(100% - 5rem);
  z-index: 40;
  overflow-x: hidden;
  width: 30rem;
  transition: transform 0.5s ease; }
  @media (max-width: 991px) {
    .calendar-container {
      top: 4rem;
      height: calc(100% - 4rem); } }
  @media (max-width: 767px) {
    .calendar-container {
      top: 3rem;
      height: calc(100% - 3rem);
      width: 100%;
      max-width: 30rem; } }
  .calendar-container .calendar-events {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5); }
    .calendar-container .calendar-events .calendar-event .calendar-event-header .cover {
      max-width: 100%; }
    .calendar-container .calendar-events .calendar-event .calendar-event-body {
      position: relative;
      color: #fff;
      padding: 2rem; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .description {
        margin-bottom: 2rem; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .hours {
        line-height: 2rem; }
      .calendar-container .calendar-events .calendar-event .calendar-event-body .fb-link {
        background-color: #3c5a99;
        line-height: 2rem;
        display: block;
        padding: 0rem 0.5rem;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        text-decoration: none; }
        .calendar-container .calendar-events .calendar-event .calendar-event-body .fb-link .fa {
          margin-right: 0.5rem; }

.backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

body[data-active-widget="calendar"] .backdrop {
  display: block; }

body[data-active-widget="calendar"] .calendar-container {
  overflow-x: visible;
  transform: translateX(0%); }

body[data-active-widget="menu"] .backdrop {
  display: block; }

body[data-active-widget="menu"] .pages-container {
  overflow-x: visible;
  transform: translateX(0%); }

body:before {
  opacity: 0.5;
  position: fixed;
  top: 6rem;
  right: -9rem;
  font-weight: bold;
  pointer-events: none;
  display: block;
  content: 'THIS SITE IS UNDER CONSTRUCTION';
  z-index: 999;
  transform: rotate(45deg);
  padding: 1rem 10rem;
  background-color: #ffe000;
  border: 0.2rem solid #000;
  background-image: repeating-linear-gradient(45deg, #ffe000, #ffe000 10px, #f9d10b 10px, #f9d10b 20px); }
  @media (max-width: 767px) {
    body:before {
      padding: 1rem 9rem; } }

.page > section.full-height-banner {
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .page > section.full-height-banner, .page > section.full-height-banner a {
    color: #fff; }
  .page > section.full-height-banner .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

footer .info {
  padding: 2rem 0rem;
  background-color: #1a1a1a;
  color: #fff; }
  footer .info .container {
    display: flex; }
    @media (max-width: 767px) {
      footer .info .container {
        flex-direction: column; } }
    footer .info .container .text, footer .info .container .map {
      width: 50%;
      padding: 2rem; }
      footer .info .container .text a, footer .info .container .map a {
        text-decoration: none; }
      @media (max-width: 767px) {
        footer .info .container .text, footer .info .container .map {
          width: 100%;
          padding: 1rem; } }
    footer .info .container .fa {
      color: #666; }
    footer .info .container .text > p, footer .info .container .text > div {
      padding-left: 3rem;
      margin-bottom: 1rem;
      position: relative; }
      footer .info .container .text > p:last-child, footer .info .container .text > div:last-child {
        margin-bottom: 0rem; }
      @media (max-width: 767px) {
        footer .info .container .text > p, footer .info .container .text > div {
          margin-left: auto;
          margin-right: auto;
          max-width: 20rem; } }
      footer .info .container .text > p > table, footer .info .container .text > div > table {
        width: 15rem; }
        @media (max-width: 767px) {
          footer .info .container .text > p > table, footer .info .container .text > div > table {
            width: 100%;
            max-width: 15rem; } }
        footer .info .container .text > p > table tr td:first-child, footer .info .container .text > div > table tr td:first-child {
          text-align: left; }
      footer .info .container .text > p > .fa, footer .info .container .text > div > .fa {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 1.5rem; }
      footer .info .container .text > p.social-links a, footer .info .container .text > div.social-links a {
        margin-right: 1rem; }
        footer .info .container .text > p.social-links a .fa, footer .info .container .text > div.social-links a .fa {
          font-size: 2rem;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          text-align: center;
          border-radius: 0.4rem; }
          footer .info .container .text > p.social-links a .fa.fa-facebook-square, footer .info .container .text > div.social-links a .fa.fa-facebook-square {
            background-color: #3c5a99;
            font-size: 1.5rem;
            color: #fff; }
          footer .info .container .text > p.social-links a .fa.fa-twitter-square, footer .info .container .text > div.social-links a .fa.fa-twitter-square {
            background-color: #55acee;
            font-size: 1.5rem;
            color: #fff; }
          footer .info .container .text > p.social-links a .fa.fa-instagram, footer .info .container .text > div.social-links a .fa.fa-instagram {
            background-image: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
            color: #fff;
            font-size: 1.5rem; }
    footer .info .container .map iframe {
      width: 18rem;
      height: 18rem;
      background-color: #fff;
      margin-left: auto;
      display: block; }
      @media (max-width: 991px) {
        footer .info .container .map iframe {
          width: 100%;
          height: 100%; } }

footer .copyright {
  text-align: center;
  padding: 2rem 0rem; }
  footer .copyright img {
    height: 4rem;
    margin-bottom: 1rem; }
  footer .copyright p, footer .copyright a {
    font-size: 0.8rem; }
