{% assign categoriesCSV = 'breakfast,brunch,sandwichSalad,childrensMenu,warmMeal,snacks,drinks' %}
{% assign categories = categoriesCSV | split: ',' %}

{% if menu_item_ids == blank %}
    {% include hashbrown/get_child_content_ids id='f20f57fa9c3d8bff0902cfb33f350091a3a48d51' %}
    {% assign menu_item_ids = result %}
{% endif %}

<div class="menu-items">
    {% for category in categories %}
        <h4>{{ site.menu_categories[category][page.meta.language] }}</h4>

        {% for menu_item_id in menu_item_ids %}
            {% include hashbrown/get_content_by_id id=menu_item_id %}
            {% assign menu_item = result %}
            
            {% if menu_item.category == category %}
                <button class="menu-item" data-id="{{ menu_item.meta.id }}">
                    <p class="price">{{ menu_item.price }} kr.</p>
                    <p class="title">{{ menu_item.title }}</p>
                </button>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
