$white: #fff;
$black: #000;

$green: #71c837;

$red: #ff0000;

$pink: #fde9f1;

$lightest-grey: #f5f5f5;
$lighter-grey: #e6e6e6;
$light-grey: #ccc;
$dark-grey: #666;
$darker-grey: #333;
$darkest-grey: #1a1a1a;
