$white: #fff;
$black: #000;

$aqua-marine: #00d4aa;

$coconut-cream: #faf9e5;

$green: #71c837;

$lightest-grey: #f5f5f5;
$lighter-grey: #e6e6e6;
$light-grey: #ccc;
$dark-grey: #666;
$darker-grey: #333;
$darkest-grey: #1a1a1a;
