footer {
    .info {
        padding: 2rem 0rem;
        background-color: $darkest-grey;
        color: $white;

        .container {
            display: flex;
         
            @media($xs) {
                flex-direction: column;
            }

            .text, .map {
                width: 50%;
                padding: 2rem;

                a {
                    text-decoration: none;
                }

                @media($xs) {
                    width: 100%;
                    padding: 1rem;
                }
            }

            .fa {
                color: $dark-grey;
            }

            .text {
                >p, >div {
                    padding-left: 3rem;
                    margin-bottom: 1rem;
                    position: relative;
                    
                    &:last-child {
                        margin-bottom: 0rem;
                    }
                    
                    @media($xs) {
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 20rem;
                    }

                    >table {
                        width: 15rem;

                        @media($xs) {
                            width: 100%;
                            max-width: 15rem;
                        }

                        tr {
                            td {
                                &:first-child {
                                    text-align: left;
                                }
                            }
                        }
                    }

                    >.fa {
                        display: block;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        font-size: 1.5rem;
                    }

                    &.social-links {
                        a {
                            margin-right: 1rem;

                            .fa {
                                font-size: 2rem;
                                width: 2rem;
                                height: 2rem;
                                line-height: 2rem;
                                text-align: center;
                                border-radius: 0.4rem;

                                &.fa-facebook-square {
                                    background-color: #3c5a99;
                                    font-size: 1.5rem;
                                    color: $white;
                                }
                                
                                &.fa-twitter-square {
                                    background-color: #55acee;
                                    font-size: 1.5rem;
                                    color: $white;
                                }

                                &.fa-instagram {
                                    background-image: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
                                    color: $white;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                } 
            }

            .map {
                iframe {
                    width: 18rem;
                    height: 18rem;
                    background-color: $white;
                    margin-left: auto;
                    display: block;

                    @media($sm) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding: 2rem 0rem;

        img {
            height: 4rem;
            margin-bottom: 1rem;
        }
        
        p, a {
            font-size: 0.8rem;
        }
    }
}
