html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5rem;

    @media($sm) {
        padding-top: 4rem;
    }   
    
    @media($xs) {
        padding-top: 3rem;
    }   

    .index-page {
        min-height: 300px;
        display: flex;
        flex-direction: vertical;
        align-items: center;
        justify-content: center;

        .languages {
             a {
                padding: 15px;

                img {
                    width: 64px;
                }
             }
        }
    }    

    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
        top: 0px;
        z-index: 300;

        &.active {
            opacity: 1;

            .modal {
                top: 50%;
            }
        }

        .modal {
            transition: top 0.5s ease;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            img.modal-body {
                display: block;
                margin: 0px auto;
                max-width: 80%;
                max-height: 80%;
            }
        }
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        width: 960px;

        @media($md) {
            width: 960px;
        }

        @media($sm) {
            width: 600px;
        }

        @media($xs) {
            width: calc(100% - 2em);
        }
    }
   
    .flex {
        display: flex;
    }

    .page {
        height: 100%;        

        section {
            ol, ul {
                padding: 1em 0em 1em 2em;

                li {
                    margin-bottom: 0.5em;
                }
            }

            ol {
                list-style-type: decimal;
            }

            ul {
                list-style-type: disc;
            }
            
            p {
                margin-bottom: 1em;
            }

            .flex.images {
                margin-top: 2em;

                @media($xs) {
                    display: block;

                }

                .image-container {
                    flex-grow: 1;
                    position: relative;
                    margin: 0rem 1rem;
                    height: 15rem;

                    &:first-child {
                        margin-left: 0px;
                    }
                    
                    &:last-child {
                        margin-right: 0px;
                    }

                    @media($xs) {
                        margin: 0em 0em 1em 0em;
                        width: 100%;
                    }

                    .image {
                        cursor: pointer;
                        background-position: center;
                        background-size: cover;
                        height: 100%;
                    }
                }  
            }
            
            .section-anchor {
                height: 0px;
                display: block;
                position: relative;
                top: -5rem;
            }
        }
    }
}
