html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5rem;

    @media($sm) {
        padding-top: 4rem;
    }   
    
    @media($xs) {
        padding-top: 3rem;
    }   
    
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 960px;

        @media($md) {
            width: 960px;
        }

        @media($sm) {
            width: 600px;
        }

        @media($xs) {
            width: calc(100% - 2em);
        }
    }
   
    .flex {
        display: flex;
    }

    .page {
        height: 100%;        
    }
}
