body {
    &[data-active-widget="menu-nav"] {
        .page.menu-page {
            .menu-nav {
                @media($sm) {
                    right: 0rem;
                }
                
                .menu-nav-toggle {
                    right: 0px;
                }
            }
        }

        .backdrop {
            display: block;
        }
    }
    
    .page.menu-page {
        height: auto;
        display: flex;
        background-color: $darkest-grey;

        .menu-nav {
            width: 20rem;
            top: 5rem;
            height: calc(100% - 5rem);
            flex-shrink: 0;
            background-color: $darkest-grey;

            @media($sm) {
                position: fixed;
                z-index: 50;
                transition: right 0.5s ease;
                top: 4rem;
                height: calc(100% - 4rem);
                right: -20rem;
                box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5);
            }

            @media($xs) {
                top: 3rem;
                height: calc(100% - 3rem);
            }

            .menu-nav-toggle {
                position: absolute; 
                right: 100%;
                bottom: 0px;
                width: 3rem;
                text-align: center;
                line-height: 3rem;
                display: none;
                z-index: 100;
                background-color: $pink;
                color: $darkest-grey;
                transition: right 0.5s ease;

                @media($sm) {
                    display: block;
                }
            }

            .menu-items {
                height: 100%;
                overflow-y: auto;

                @media($xs) {
                    padding-right: 3rem;
                }
                
                .menu-item {
                    display: block;
                    width: 100%;
                    text-align: left;
                    padding: 1rem 1rem;
                    color: $white;

                    &:hover {
                        background-color: $darker-grey;
                    }

                    .price {
                        float: right;
                    }
                }
            }
        }

        .menu-gallery {
            border: 1px solid transparent;
            flex-grow: 1;

            .grid-sizer {
                width: 25%;
                
                @media($sm) {
                    width: 50%;
                }   
            }

            .menu-item {
                position: relative;
                overflow: hidden;
                border: 1px solid transparent;
                display: block;
                text-decoration: none;
                
                &:after {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }

                &:focus, &:hover {
                    border-color: $white;

                    .info {
                        height: auto;
                        padding: 1em;
                        opacity: 1;
                    }
                }

                .image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                }
               
                .info {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: $white;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 0%;
                    overflow: hidden;
                    transition: opacity 0.5s ease;
                    z-index: 10;
                    padding: 0em;
                    opacity: 0;

                    .title {
                        font-family: 'Gochi Hand';
                        font-size: 2em;
                        line-height: 1em;

                        @media($xs) {
                            font-size: 1.2em;
                        }
                    }

                    .details {
                        .price {
                            text-align: right;
                            font-family: 'Gochi Hand';
                            font-size: 2em;

                            @media($xs) {
                                font-size: 1.2em;
                            }
                        }   
                    }
                }

                &[data-size="0"] {
                    width: 100%;
                }
                
                &[data-size="1"] {
                    width: 25%;

                    @media($sm) {
                        width: 50%;
                    }
                }
                
                &[data-size="2"] {
                    width: 50%;
                    
                    @media($sm) {
                        width: 100%;
                    }
                }
            }
        }
    }
}
