nav {
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: $white;
    z-index: 50;
    top: 0px;
    left: 0px;
    box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5);

    @media($sm) {
        height: 4rem;
    }   
    
    @media($xs) {
        height: 3rem;
    }   

    .container {
        height: 100%;
        display: flex;

        .pages-container {
            height: 100%;
            position: relative;

            @media($sm) {
                top: 4rem;
                height: calc(100% - 4rem);
                width: 100%;
                position: fixed;
                right: 0rem;
                transform: translateX(100%);
                z-index: 40;
                overflow-x: hidden;
                transition: transform 0.5s ease;
                background-color: $darkest-grey;
                color: $white;
                max-width: 20rem;
            }
            
            @media($xs) {
                top: 3rem;
                height: calc(100% - 3rem);
            }
            
            .pages {
                display: flex;

                @media($sm) {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    margin-left: auto;
                    text-align: center;
                    flex-direction: column;
                }

                a {
                    padding: 0em 1em;

                    @media($sm) {
                        font-family: 'Gochi Hand', sans-serif;
                        font-size: 2rem;
                    }
                } 
            }
        }

        .nav-brand, .pages a {
            display: block;
            text-decoration: none;
            height: 100%;
            line-height: 5rem;
            
            @media($sm) {
                line-height: 4rem;
            }   
            
            @media($xs) {
                line-height: 3rem;
            }   

            &.nav-brand {
                flex-grow: 1;

                img {
                    margin-top: 0.5rem;
                    height: 4rem;
                    
                    @media($sm) {
                        height: 3rem;
                    }   
                    
                    @media($xs) {
                        height: 2rem;
                    }   
                }
            }
        }

        .widgets {
            flex-grow: 1;
            height: 100%;

            .widgets-position-wrapper {
                float: right;
                display: flex;
                height: 100%;

                a, button {
                    border-radius: 50%;
                    display: block;
                    margin-top: 1rem;
                    margin-left: 1rem;
                    height: 3rem;
                    width: 3rem;
                    position: relative;
                    background-size: cover;
                    
                    @media($sm) {
                        margin-top: 0.5rem;
                    }   
                    
                    @media($xs) {
                        height: 2rem;
                        width: 2rem;
                    }

                    .fa, img {
                        height: 3rem;
                        width: 3rem;
                        display: block;
                        line-height: 3rem;
                        font-size: 1.5rem;
                        
                        @media($xs) {
                            line-height: 2rem;
                            height: 2rem;
                            width: 2rem;
                            font-size: 1rem;
                        }
                    }
                }

                .btn-toggle-menu, .btn-toggle-calendar {
                    background-color: $pink;
                }

                .btn-toggle-menu {
                    display: none;

                    @media($sm) {
                        display: block;
                    }
                }

                .btn-toggle-calendar {
                    position: relative;
                    margin-left: 1rem;

                    .icon-calendar-new-events {
                        position: absolute;
                        top: 0rem;
                        right: 0rem;
                        background-color: $red;
                        color: $white;
                        font-size: 0.6rem;
                        border-radius: 50%;
                        padding: 0.2rem;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }

                .btn-toggle-menu {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.calendar-container {
    position: fixed;
    top: 5rem;
    right: 0rem;
    transform: translateX(100%);
    height: calc(100% - 5rem);
    z-index: 40;
    overflow-x: hidden;
    width: 30rem;
    transition: transform 0.5s ease;

    @media($sm) {
        top: 4rem;
        height: calc(100% - 4rem);
    }

    @media($xs) {
        top: 3rem;
        height: calc(100% - 3rem);
        width: 100%;
        max-width: 30rem;
    }

    .calendar-events {
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        background-color: $darkest-grey;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: 0rem 0rem 5rem 0rem rgba(0, 0, 0, 0.5);

        .calendar-event {
            .calendar-event-header {
                .cover {
                    max-width: 100%;
                }
            }

            .calendar-event-body {
                position: relative;
                color: $white;
                padding: 2rem;

                .name {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }

                .description {
                    margin-bottom: 2rem;
                }

                .fb-link {
                    background-color: #3c5a99;
                    line-height: 2rem;
                    display: block;
                    padding: 0rem 0.5rem;
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;
                    text-decoration: none;

                    .fa {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

.backdrop {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

body[data-active-widget="calendar"] {
    .backdrop {
        display: block;
    }
    
    .calendar-container {
        overflow-x: visible;
        transform: translateX(0%);
    }
}

body[data-active-widget="menu"] {
    .backdrop {
        display: block;
    }
    
    .pages-container {
        overflow-x: visible;
        transform: translateX(0%);

    }
}

