@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/gochi-hand-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Gochi Hand'), local('GochiHand-Regular'),
       url('/public/fonts/gochi-hand-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/gochi-hand-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/gochi-hand-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/gochi-hand-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/gochi-hand-v7-latin-regular.svg#GochiHand') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/ubuntu-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu'),
       url('/public/fonts/ubuntu-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/ubuntu-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/ubuntu-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/ubuntu-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/ubuntu-v9-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/ubuntu-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
       url('/public/fonts/ubuntu-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/public/fonts/ubuntu-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/ubuntu-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/ubuntu-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/ubuntu-v9-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Ubuntu', sans-serif;
    
    * {
        font-size: 0.88rem;
        line-height: 1.5em;

        @media($xs) {
            font-size: 0.88rem;
        }
    }

    h1, h2, h3, h4 {
        font-family: 'Gochi Hand', sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        line-height: 1em;
        margin-bottom: 0.4em;
    }

    h1 {
        font-size: 4rem;
        
        @media($xs) {
            font-size: 3rem;
        }
    }
    
    h2 {
        font-size: 3rem;

        @media($xs) {
            font-size: 2rem;
        }
    }
    
    h3 {
        font-size: 2rem;
        
        @media($xs) {
            font-size: 1.5rem;
        }
    }
    
    h4 {
        font-size: 1.5rem;
        
        @media($xs) {
            font-size: 1rem;
        }
    }
    
    h5 {
        font-size: 1rem;
        
        @media($xs) {
            font-size: 0.88rem;
        }
    }
    
    h6 {
        font-size: 1rem;
        
        @media($xs) {
            font-size: 0.88rem;
        }
    }

    strong {
        font-weight: 700;
    }
}
