body {
    &:before {
        position: fixed;
        top: 6rem;
        right: -9rem;
        font-weight: bold;
        pointer-events: none;
        display: block;
        content: 'THIS SITE IS UNDER CONSTRUCTION';
        z-index: 999;
        transform: rotate(45deg);
        padding: 1rem 10rem;
        background-color: #ffe000;
        border: 0.2rem solid #000;
        box-shadow: -0.5rem 0.5rem 2rem 0px rgba(0, 0, 0, 0.5);
        background-image: repeating-linear-gradient(
            45deg,
            #ffe000,
            #ffe000 10px,
            #f9d10b 10px,
            #f9d10b 20px
        );

        @media($xs) {
            padding: 1rem 9rem;
        }
    }
}
