.page {
    section {
        .btn {
            padding: 1rem 0rem;
            text-align: center;
            box-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.5);
            background-color: $white;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            display: block;
            width: 10rem;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &:before {
                content: '';
                position: absolute;
                background-color: $pink;
                width: 1rem;
                height: 1rem;
                top: 50%;
                left: 50%;
                transition: transform 0.5s ease;
                transform: translate(-50%, -50%) scale(0);
                border-radius: 50%;
            }

            &:hover, &:focus {
                &:before {
                    transform: translate(-50%, -50%) scale(10);
                }
            }

            &:active {
                margin-bottom: -0.1rem;
                box-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.5);
            }

            &, &:hover, &:focus {
                color: $darkest-grey;
            }

            &.dark {
                color: $white;
                background-color: $darkest-grey;
            }

            span {
                position: relative;
                z-index: 10;
            }
        }
    }
}
