<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width initial-scale=1" name="viewport">
        <meta content="Sweet Surrender" name="description">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/client.css" rel="stylesheet">
        <title>Sweet Surrender</title>
    </head>
    <body>
        {% include navigation.html %}

        {{ content }}

        <script src="/lib/jquery/jquery.min.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/client.js"></script>
    </body>
</html>
