---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include main/head.html %}
    
    <body>
        {% include main/navigation.html %}
        
        {% include hashbrown/get_child_content_ids id=page.meta.id %}
        {% assign menu_item_ids = result %}

        {% assign all_menu_item_tags = "" | split:"|" %}

        {% for menu_item_id in menu_item_ids %}
            {% include hashbrown/get_content_by_id id=menu_item_id %}
            {% assign menu_item = result %}
            {% assign menu_item_tags = menu_item.tags | split:"," %}

            {% for tag in menu_item_tags %}
                {% if all_menu_item_tags contains tag %}
                {% else %}
                    {% assign all_menu_item_tags = all_menu_item_tags | push: tag %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="page menu-page">
            <div class="menu-nav">
                <button class="menu-nav-toggle" onclick="toggleWidget('menu-nav');">
                    <span class="fa fa-th-list"></span>
                </button>

                <div class="menu-items">
                    {% for tag in all_menu_item_tags %}
                        <h4>{{ tag }}</h4>

                        {% for menu_item_id in menu_item_ids %}
                            {% include hashbrown/get_content_by_id id=menu_item_id %}
                            {% assign menu_item = result %}
                            
                            {% if menu_item.tags contains tag %}
                                <button class="menu-item" data-id="{{ menu_item.meta.id }}">
                                    <p class="price">{{ menu_item.price }} kr.</p>
                                    <p class="title">{{ menu_item.title }}</p>
                                </button>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="menu-gallery grid">
                <div class="grid-sizer"></div>
                {% for menu_item_id in menu_item_ids %}
                    {% include hashbrown/get_content_by_id id=menu_item_id %}
                    {% assign menu_item = result %}

                    <a style="{% if menu_item.color %}background-color: {{ menu_item.color }};{% endif %}" href="#" name="{{ menu_item.meta.id }}" onclick="MenuHelper.focusItem('{{ menu_item.meta.id }}'); return false;" class="menu-item child-item" data-size="{{ menu_item.size }}" id="_{{ menu_item.meta.id }}">
                        {% if menu_item.image %}
                            <img src="{% include hashbrown/get_media_by_id id=menu_item.image %}" class="image" />
                        {% endif %}

                        <div class="info">
                            <p class="title">{{ menu_item.title }}</p>
                            <div class="details">
                                <p class="description">{{ menu_item.description }}</p>
                                <p class="price">{{ menu_item.price }} kr.</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        {% include main/scripts.html %}

        <script>
            var grid = document.querySelector('.grid');
            var masonry = new Masonry(grid, {
                columnWidth: '.grid-sizer'
            });
        </script>
    </body>
</html>
