---
layout: compress
---

<!DOCTYPE html>
<html>
    {% include main/head.html %}
    
    <body>
        {% include main/navigation.html %}
        
        {% include hashbrown/get_child_content_ids id=page.meta.id %}
        {% assign menu_item_ids = result %}

        <div class="page menu-page">
            <div class="menu-nav">
                <button class="menu-nav-toggle" onclick="toggleWidget('menu-nav');">
                    <span class="fa fa-th-list"></span>
                </button>

                {% include menuItems.html %}
            </div>

            <div class="menu-gallery grid">
                <div class="grid-sizer"></div>
                {% for menu_item_id in menu_item_ids %}
                    {% include hashbrown/get_content_by_id id=menu_item_id %}
                    {% assign menu_item = result %}

                    <a style="{% if menu_item.color %}background-color: {{ menu_item.color }};{% endif %}" href="#" name="{{ menu_item.meta.id }}" onclick="MenuHelper.focusItem('{{ menu_item.meta.id }}'); return false;" class="menu-item child-item" data-size="{{ menu_item.size }}" id="_{{ menu_item.meta.id }}">
                        {% if menu_item.image %}
                            <img src="{% include hashbrown/get_media_by_id id=menu_item.image %}" class="image" />
                        {% endif %}

                        <div class="info">
                            <p class="title">{{ menu_item.title }}</p>
                            <div class="details">
                                <p class="description">{{ menu_item.description }}</p>
                                <p class="price">{{ menu_item.price }} kr.</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        {% include main/scripts.html %}

        <script>
            var grid = document.querySelector('.grid');
            var masonry = new Masonry(grid, {
                columnWidth: '.grid-sizer'
            });
        </script>
    </body>
</html>
